<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxtech.mvp.konepluginp"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustUnspecified|stateHidden"
        >

        <!--fileProvider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".PlayPluginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" >
        </activity>


        <meta-data android:name="xwalk_apk_url"
            android:value="http://139.196.26.229:9080/apk/XWalkRuntimeLib.apk" />

        <meta-data android:name="xwalk_enable_download_mode" android:value="enable" />

        <meta-data android:name="xwalk_verify" android:value="disable" />
    </application>

</manifest>
